<h1 class="animated fadeIn fast">Sobre ComicApp</h1>
<hr />
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
  perferendis repudiandae optio quidem et deleniti earum, labore impedit quasi
  illo quos odio fugit aspernatur error est explicabo exercitationem recusandae
  accusantium!
</p>
<h1 class="animated fadeIn fast">Comic</h1>
<hr />
<p class="animated fadeIn">
  Diversas manifestaciones nulas de la Antigüedad y la Edad Media pueden
  ajustarse a la definición de cómic dada más arriba: Pinturas murales egipcias
  o griegas, relieves romanos, vitrales de iglesias, manuscritos iluminados con
  viñetas cuadradas que contienen dibujos en secuencia narrativa, como las
  Cantigas de Santa María de Alfonso X el Sabio, códices precolombinos, Biblia
  pauperum, etc. Con la invención de la imprenta (1446) se producen ya aleluyas
  y con la de la litografía (1789), se inicia la reproducción masiva de dibujos
  (las imágenes de Épinal, entre ellas).
  <small>
    from
    <cite title="Source Title"
      ><a href="https://es.wikipedia.org/wiki/Historieta#C%C3%B3mic"
        >Wikipedia</a
      ></cite
    >
  </small>
</p>
