<h1>
  Buscador :<small>{{ texto }}</small>
</h1>
<hr />
<ng-container
  *ngIf="heroes.length > 0; then searchedResults; else notFoundResult"
>
</ng-container>
<ng-template #searchedResults>
  <div class="card-columns">
    <app-heroe-tarjeta
      *ngFor="let heroe of heroes; let i = index"
      [heroe]="heroe"
      [index]="heroe.id"
      (heroeSelected)="verHeroe($event)"
    ></app-heroe-tarjeta>
  </div>
</ng-template>
<ng-template #notFoundResult>
  <div class="card animated fadeIn fast">
    <div class="alert alert-info" role="alert">
      No se encontro ninguna coincidencia
    </div>
  </div>
</ng-template>
